fieldset {
	font: 14px Verdana, Geneva, sans-serif;
	border: thin solid #595959;
	border-radius: 5px;
}

legend {
	color: #ffffff !important;
	background: #b06f6f;
	border-radius: 3px;
	font-size: 16px !important;
	padding: 3px 6px 5px 6px;
}

.attrFieldSet {
	padding: 1px;
	border-radius: 5px;
	background: #ffe3e3;
}

.attrField {
	padding: 1px;
	border-radius: 5px;
	background: #eeeeee;
}

.field, .attrField {
	width: 500px;
	margin: 2px 0 0px 20px !important;
}

.fieldAtts {
	margin-left: 20px;
	background-color: aliceblue;
}
button {
	margin-right: 2px !important;
	margin-left: 2px;
	margin-bottom: 5px;
}

.container-fluid {
	font-size: 14px !important;
}
.fieldBtnGroup {
	display: inline-block;
}